.main{
    margin: 20vh;
}
    .main #touXiang{
        border-radius: 50%;
        border: white 5px solid;
        opacity: 1;
        width: 200px;
        height: 200px;
        background: url("../images/touxiang.jpg") center center no-repeat;
        background-size: cover;
        transition: 1.5s;
        }
    .main #touchTouXiang{
        border-radius: 50%;
        cursor: pointer;
    }
    .main #touchTouXiang:hover #touXiang{

        transform: rotate3d(180,180,180,360deg);
    }