#black{
    height: 70px;
}
#one{
    height: calc(100vh - 70px);
    width: 100%;
}
#oneContent{
    width: 60%;
    height: 200px;
    padding-top: 170px;
    margin-left: 15%;
    text-shadow: #000000 9px 6px 10px;
}
#oneContent p{
    font-weight: bolder;
}