@charset "utf-8";
/* CSS Document */


#top{
	position:fixed;
	bottom:60px;
	right:20px;
	background-color:rgba(255,255,255,.4);
	border-radius:50%;}
#top:hover{
	background-color:rgba(156,205,217,.4)}
	audio{
	position:fixed;
	bottom:0;
	left:0;
	border-radius:10px;
	background-color:rgba(25,25,25,.4);}
#nav {
	width: 720px;;
	height: 45px;
	position:fixed;
	top:0;
	left:27%;
	background-color:rgba(25,25,25,.4);
	border-radius:10px;
	z-index:1;
}
.title {
	margin: 0 auto;
	width: 100%;
	height: 45px;
	
}
ul.title li {
	width: 80px;
	height: 45px;
	list-style: none;
	float: left;
	margin: 0 32px;
	text-align: center;
}
ul.title li:hover {
	border-bottom: 2px rgba(156,205,217,1) none;
	transition: .25s;
}
ul.title li a {
	display: block;
	color:rgba(255,255,255,.4);
	line-height: 45px;
	font-size: 17px;
}
ul.title li a:hover {
	color: rgb(156,205,217)
}
/*导航栏*/
#header {
	height: 465px;
	margin: 0 auto;
}
#hello {
	display: block;
	overflow: hidden;
	text-decoration: none;
	text-align: center;
	margin: 100px auto;
	font-size: 58px;
	color: #FFF;
	transition: .49s;
}
#hello:hover {
	color:rgb(156,205,217);
	transition: .49s;
}
/*标题*/
#headersay {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding: 40px 0;
	border-radius: 10px;
	background-color: rgba(156,205,217,.4);
}
#headersay img {
	box-shadow: inset 0 0 10px rgba(25,25,25,.4);
	padding: 5px;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 15px auto;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transition: all ease(0.4, 0, 1, 1) 1.5s;
	-webkit-transition: all ease 1.5s;
	-moz-transition: all ease 1.5s;
	-o-transition: all ease 1.5s;
}
#headersay img:hover {
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}
/*header img text*/
#page {
	height:720px;
	width: 80%;
	margin: 30px auto 30px auto;
}
#main, #sidebar {
	float: left;
	background-color: rgba(255,255,255,.40);
	border-radius: 10px;
}
#main {
	width: 60%;
	margin-left:6%;
	margin-bottom: 30px;
	line-height:32px;
	
}
#about {
	width:80%;
	margin:10px auto;}
#about img{
	display:block;
	margin:5px auto;
	border-radius:10px;}
#main img:hover{
	transition: 1s;
	transform: translate3d(0, -3px, 0);
	box-shadow: 0 20px 30px rgba(0,0,0,.45);
	}


#sidebar {
	width: 25%;
	height: 350px;
	margin-left: 30px;
	margin-right:5%;
	transition: .45s;
}
#sidebar:hover {
	transition: .45s;
	transform: translate3d(0, -1.5px, 0);
	box-shadow: 0 15px 25px rgba(0,0,0,.45);
}
#logo {
	width: 100px;
	height: 100px;
	margin: 30px auto;
}
#logo img {
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 50px auto 0px auto;
}
#linelogo {
	height: 35px;
	width: 250px;
	margin: 45px auto 0px auto;
}
#linelogo ul li {
	list-style: none;
	text-decoration: none;
	width: 32px;
	height: 32px;
	float: left;
	margin: 0 9px;
	border-radius: 50%;
}
#linelogo ul li:hover {
	background-color: rgba(25,25,25,.2)
}
#linelogo ul li img {
	width: 23px;
	height: 23px;
	margin: 5px 5px;
}
/*page*/
#footer {
	color: #FFF;
	text-align: center;
	line-height: 80px;
	bottom: 0px;
	height: 80px;
	background-color: rgb(57,66,100)
}
#footer a {
	color: #FFF;
}
#footer a:hover {
	color: rgb(156,205,217);
}
/*footer*/
