.main{
    /*margin: 20vh;*/
}
    .main .content{
        /*height: 80%;*/
        /*width: 80%;*/
        /*padding: 20px;*/
        display: inherit;
        flex-direction: column;


    }
    /*.main .content p{*/
    /*    font-size: 20px;*/
    /*    color: dodgerblue;*/
    /*}*/

        .main .content sub{
            color: #7dbcfa;
        }
        .main .content #ganImg{
            height: 100px;
            width: 100px;
            display: block;
            margin: 0 auto;

        }
    #footer{
        position: relative;
        /*bottom: 0;*/
        /*margin: 0;*/

    }