body.menuOpen{
    overflow: hidden;
    /*filter: blur(2px);*/
    /*transition: 1s;*/
    /*opacity: .3;*/
}
body{
    opacity: 0;
    transition: .7s;

    padding: 0;
    margin: 0;
    background: url("../../images/bg01.jpg") no-repeat fixed;
    background-size: cover;
}
body.load{
    opacity: 1;
}
h1{
    font-size: 45px;
    letter-spacing: -2px;
    color: dodgerblue;
}
p{
    /*font-size: 10px;*/
    color: #7dbcfa;
}
#header{
    display: flex;
    height: 60px;
    line-height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 25px;
    border: 0;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #fff;
    user-select: none;
}
#author{
    font-size: 20px;
    position: inherit;
    bottom: 70px;
    right: 0;
    letter-spacing: -1px;
    line-height: inherit;
    padding: 0 20px;
    height: 50px;
}
    #author:after{
        content: 'TOP';
        display: flex;
        justify-content: center;
        font-size: 12px;
        height: 20px;
        width: 100%;
        line-height: 20px;
        margin-top: 0;

    }
        #author:after:hover{
            color: dodgerblue;
            cursor: pointer;
        }
#nav{

    /*display: inherit;*/
    /*height: inherit;*/
    /*line-height: inherit;*/
    /*flex-grow: 1;*/
    /*justify-content: flex-end;*/
}
    #nav.menuItem.current{
        color: dodgerblue;
    }
    #nav #menuButton{
        border: 0;
        display: block;
        /*font-size: 25px;*/
        /*font-weight: bolder;*/
        /*letter-spacing: 2px;*/
        height: inherit;
        line-height: inherit;
        padding: 0 20px;
        color: #fff;
        text-decoration: none;
        opacity: 1;
        visibility: visible;

        cursor: pointer;
    }
    #nav #menuButton:hover{
        color: dodgerblue;
    }
    #nav #menuButton.menuOpen{
        opacity: 0;
        visibility: hidden;
        display: none;
    }

#menu{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    align-items: center;
    /*background: rgba(36, 41, 67, 0.4);*/
    transition: .4s;
    z-index: 10002;
    visibility: hidden;
    opacity: 0;
    background: rgba(0,0,0,.85);
}
    #menu.inner{
        visibility: visible;
        opacity: 1;
    }
    #menu #closeItem{
        /*display: block;*/
        /*position: inherit;*/
        /*top: 12px;*/
        /*right: 15px;*/
        font-size: 25px;
        font-weight: bolder;
        letter-spacing: 1px;
        cursor: pointer;
        color: #fff;
        user-select: none;
    }
    #menu #closeItem:hover{
        color: coral;
    }
    #menu ul{
        list-style: none;
        margin-bottom: 5px;
        padding: 0;

    }
        #menu ul li{
            padding: 0;
            display: block;
            margin-top: 5px;
            cursor: pointer;
            height: auto;
            width: auto;
            line-height: 60px;
            text-align: center;
            border-bottom: rgba(30,144,255,.7) solid 2px;
        }
        #menu ul li:last-child{
            border: 0px;
        }
            #menu ul li a{
                display: block;
                height: 60px;
                width: 220px;
                text-decoration: none;
                font-size: 24px;
                font-weight: bolder;
                color: #fff;
                user-select: none;

            }
            #menu ul li a:hover{
                color: dodgerblue;
            }