body{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    display: inherit;
    justify-content: inherit;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin-top: 60px;
    /*height: 60vh;*/
    background: rgba(255,255,255,.7);
    border-radius: 10px;
    /*opacity: .7;*/
}

/*.main :first-child{*/
/*    margin: 20vh 0;*/
/*}*/
    .main .title{
        display: inherit;
        /*justify-content: inherit;*/
        flex-direction: column;
        align-items: center;
        /*align-items: center;*/
        height: 80px;
        width: 100%;
        padding-top: 30px;
        /*padding: 20px;*/
    }

        .main .title > h1{
            /*height: inherit;*/
            margin: 0;
            /*line-height: 80px;*/
        }
        .main .title > p{
            /*height: inherit;*/
            margin: 0;
            /*line-height: 80px;*/
        }
    .main .content{
        height: 80%;
        width: 88%;
        padding: 20px 0;
        display: inherit;
        justify-content: left;
        flex-direction: row;
        align-items: normal;
    }
        .main .content p{
            font-size: 20px;
            color: dodgerblue;
        }
